@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu li {
  animation: slideDown 0.4s ease forwards;
}
.reveal {
  position: relative;
  transform: translateY(16px);
  opacity: 0.7;
  transition: 0.5s all ease-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
